---
export const prerender = false;

import Layout from "../../layout/layout.astro";
import { supabase } from "../../lib/supabase";

const slug = Astro.params.slug;



const { data: studio } = await supabase
    .from("studios")
    .select("*")
    .eq("slug", slug)
    .single();



const { data: games } = await supabase
    .from("games")
    .select("*")
    .eq("studio_id", studio.id);



const { data: comments } = await supabase
    .from("comments")
    .select("*")
    .eq("studio_id", studio.id)
    .order("created_at", { ascending: false });
---

<Layout>

    <main class="container">

        <!-- PROFILE HEADER -->
        <header class="profile-header">

            <div class="studio-pfp">
                <img src={studio.logo_url} alt={studio.name} />
            </div>

            <div class="studio-title">

                <h1>{studio.name}</h1>

 

                <div class="social-row">
                        <a class="btn-social" href={studio.website}>
                             Website
                        </a>
                        
                        <a class="btn-social" href={studio.socials}>
                            Social
                        </a>
                </div>

            </div>

        </header>

        <!-- ABOUT -->
        <section class="section">

            <h2 class="section-title">
                About
            </h2>

            <p class="about-text">
                {studio.description_long}
            </p>

        </section>

        <!-- FEATURED GAMES -->
        <section class="section featured-games">

  <h2 class="section-title">
    Featured Games
  </h2>

  <div class="featured-carousel">

    <div class="game-grid">

      {
        games?.map((game) => (

          <article class="game-card">

            <!-- IMAGE -->
            <div class="game-media">
              <img src={game.images_url} alt={game.title} />
            </div>

            <!-- CONTENT -->
            <div class="game-content">

              <!-- HEADER -->
              <div class="game-header">
                <h3 class="game-title">{game.title}</h3>

                <span class="game-status">
                  {game.status}
                </span>
              </div>

              <!-- DESCRIPTION -->
              <p class="game-desc">
                {game.description}
              </p>

              <!-- TAGS -->
              <div class="tag-row">
                {
                  game.genre?.map((tag) => (
                    <span class="tag">{tag}</span>
                  ))
                }
              </div>

              <!-- META INFO -->
              <div class="game-meta">
                <span><strong>Platform:</strong> {game.platform}</span>
                <span><strong>Release:</strong> {game.release_year}</span>
             </div>

              <!-- ACTION -->
              <div class="game-actions">
                <a href={game.link} target="_blank" class="btn-game-view">
                  ▶ View Game
                </a>
              </div>

            </div>

          </article>

        ))
      }

    </div>

  </div>

</section>

        <!-- SCREENSHOTS -->
        <section class="section">
            <h2 class="section-title"> Screenshots/Media </h2>
                <div class="media-grid">
                    {
                        studio.media_s?.map((image) => (
                            <div class="media-item">
                                <img src={image} alt={studio.name} />
                            </div>
                        ))
                    }
                </div>
        </section>

        <!-- COMMENTS -->
        <section class="feedback-box">
            <h2 class="feedback-title">
                Comments
            </h2>

            <form action="/api/comments/create"  method="POST" >

                <input type="hidden" name="studio_id"  value={studio.id} />
                <input type="hidden" name="slug" value={studio.slug} />

                <div class="comment-input-wrapper">
                    <textarea name="content" required placeholder="Write a comment..." class="comment-input" ></textarea>
                    <button type="submit" class="send-btn" aria-label="Send comment">
                        ➤
                    </button>
                </div>
            </form>
           
            <div class="comments-list">

                {
                    comments?.map((comment) => (
                        <div class="comment-line">

                            <div class="comment-header">
                             <span class="comment-id">
                                {comment.user_id}
                             </span>
                            </div>
                             
                             <div class="comment-text">
                                {comment.content}
                            </div>
                            
                        </div>
                        
                    ))
                }

            </div>

        </section>

    </main>

</Layout>